h1 {
    margin: 20px;
    padding: 15px;
    font-weight: bold;
}
.container{
    margin: 0 auto;
    width: 50%;
    text-align: center;
 }
 
 input[type=submit]{
    border: 0px;
    padding: 7px 15px;
    margin: 0px 10px;
    font-size: 16px;
    color: white;
    font-weight: bold;
 }